.search-bar {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #111;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-left: 100px;
    border-bottom: 1px solid #333;
}

.search-bar input {
    width: 60%;
    padding: 12px 24px;
    border-radius: 999px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: #333;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-bar input::placeholder {
    color: #ccc;
}

.search-bar input:focus {
    background-color: #444;
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.2);
    transform: translateY(-1px);
}

@media (max-width: 768px) {
    .search-bar {
        margin-left: 0;
        padding: 0.8rem;
    }
    
    .search-bar input {
        width: 80%;
        padding: 10px 20px;
        font-size: 14px;
    }
}