<div class="sidebar">
  <div class="sidebar-nav">
    <a href="../index.html" class="active" title="Gallery"><i class="fas fa-images"></i></a>
    <a href="#" onclick="openCreditsModal(); return false;" title="Credits"><i class="fas fa-user"></i></a>
    <!-- <a href="#" title="Settings"><i class="fas fa-user"></i></a> -->
    <a href="#" title="Settings"><i class="fas fa-cog"></i></a>
  </div>
</div>

<div class="mobile-nav">
  <div class="mobile-nav-container">
    <a href="../index.html" class="active" title="Gallery"><i class="fas fa-images"></i></a>
    <a href="#" onclick="openCreditsModal(); return false;" title="Credits"><i class="fas fa-user"></i></a>
    <!-- <a href="#" title="Settings"><i class="fas fa-user"></i></a> -->
    <a href="#" title="Settings"><i class="fas fa-cog"></i></a>
  </div>
</div>

